@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(49, 49, 248);
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo {
    color: whitesmoke;
    font-size: 40px;
}

.subtitulo {
    color: whitesmoke;
    font-size: 24px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: rgb(103, 92, 250);
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: 20px;

}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid whitesmoke;
    background-color: rgb(103, 92, 250);
    color: whitesmoke;
    font-family: cursive;
    margin: 20px 0px 0px 0px;
}

input{
    display: none;
}

input:checked + label {
    background-color: coral;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: rgb(103, 92, 250);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    color: whitesmoke;
    border-color: transparent;
    width: 100px;
}

#mensajes {
    width: 280px;
    background-color: pink;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar {
    border: none;
    color: blue;
    font-family: cursive;
    background-color: pink;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 640px) {
    .tarjetas {
        flex-direction: column;
    }

    .tarjetas-ataques {
        flex-direction: column;
    }
}